@import "PARTES/menulaterla";
@import "PARTES/barrabusqueda";
@import "PARTES/mapa";
@import "PARTES/resultados";


:root {
    --primario: rgb(241, 241, 241);
    --secundario: rgb(70, 219, 219);
    --terciario: rgb(106, 164, 233);
}

/*Generales*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png);
    font-family: 'Signika', sans-serif;
    font-size: 21px;
    width: 100%;
    height: 100%;


    nav {
        position: fixed;
        height: 100%;
        background-color: var(--primario);

        ul {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-row: auto;
            padding: 0 1rem;
            margin-left: 1rem;

            li {
                justify-content: center;
                align-content: center;
                display: flex;
                align-items: center;
            }
        }
    }
}

img {
    max-width: 100%;
}

li,
ul {
    text-decoration: none;
    list-style: none;
    padding: 0;

}

a {
    text-decoration: none;
    // list-style: none;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

h4,
p {
    font-size: 1.2rem;
}

.contenedor {
    margin: auto;
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

.boton {
    background-color: var(--secundario);
    padding: .8rem;
    border-radius: .8rem;
    font-size: 1rem;
    margin: .5rem;
    display: flex;
    width: 30%;
    justify-content: center;


    &:hover {
        cursor: pointer;
        background-color: var(--terciario);

    }

    i {
        margin: 0 .5rem;
        font-size: 1.2rem;
    }
}