header {
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0px -8px 25px #6d6d6d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 991; }
  header .menu {
    display: inline-block;
    cursor: pointer; }

.main {
  top: 50px;
  padding-top: 48px;
  margin: 3rem 3rem 0 3rem; }
  .main aside {
    width: 60px;
    background: #fff;
    padding: 0px 0px 10px 0px;
    position: absolute;
    left: 0;
    top: 0px;
    height: 100%;
    box-shadow: 0px 3px 5px #6d6d6d;
    overflow: hidden;
    z-index: 99; }
    .main aside ul {
      list-style: none;
      width: 100%;
      margin-top: 6rem; }
      .main aside ul li {
        border-bottom: 1px solid #ccc;
        padding: 10px 20px;
        position: relative; }
        .main aside ul li:hover {
          background: #fff;
          box-shadow: inset 0px 0px 77px #dedede; }
        .main aside ul li a {
          font-size: 14px;
          color: #4a4a4a;
          text-decoration: none;
          text-transform: uppercase;
          white-space: nowrap;
          display: inline-block; }
          .main aside ul li a span {
            display: inline-block;
            vertical-align: middle;
            color: #000000;
            width: 38px; }

article {
  width: 92%;
  height: Min(700px, 100%);
  margin-left: 7%;
  margin-bottom: 3rem;
  border-radius: 5px;
  box-shadow: 0px 2px 7px #6d6d6d; }
  article .contenido {
    height: Min(700px, 100%); }
    article .contenido .estiloContenido {
      padding: 2rem; }

aside.keep.width {
  width: 356px; }
  aside.keep.width ul li a span.notif {
    right: 10px;
    color: #fff;
    box-shadow: 0px 0px 10px transparent;
    top: 8px; }

/*  */
@keyframes blinker {
  from {
    opacity: 1.0; }
  to {
    opacity: 0.0; } }

p.blink {
  text-decoration: blink;
  animation-name: blinker;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; }
  p.blink .mah {
    text-align: center;
    line-height: 25;
    position: relative; }
    p.blink .mah span {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 102, 153, 0);
      top: 248px;
      left: 360px; }

.objetivos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: .8rem; }
  .objetivos ul li {
    font-size: 1.5rem;
    padding: .8rem; }
    .objetivos ul li i {
      font-size: 1.5rem;
      margin-right: .5rem; }

:root {
  --primario: rgb(241, 241, 241);
  --secundario: rgb(70, 219, 219);
  --terciario: rgb(106, 164, 233); }

/*Generales*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS - 62.5% = 10px de 16px **/
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px; }

body {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png);
  font-family: 'Signika', sans-serif;
  font-size: 21px;
  width: 100%;
  height: 100%; }
  body nav {
    position: fixed;
    height: 100%;
    background-color: var(--primario); }
    body nav ul {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-row: auto;
      padding: 0 1rem;
      margin-left: 1rem; }
      body nav ul li {
        justify-content: center;
        align-content: center;
        display: flex;
        align-items: center; }

img {
  max-width: 100%; }

li,
ul {
  text-decoration: none;
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem;
  padding: 1rem; }

h3 {
  font-size: 2rem; }

h4,
p {
  font-size: 1.2rem; }

.contenedor {
  margin: auto; }

.ocultar {
  display: none; }

.mostrar {
  display: block; }

.boton {
  background-color: var(--secundario);
  padding: .8rem;
  border-radius: .8rem;
  font-size: 1rem;
  margin: .5rem;
  display: flex;
  width: 30%;
  justify-content: center; }
  .boton:hover {
    cursor: pointer;
    background-color: var(--terciario); }
  .boton i {
    margin: 0 .5rem;
    font-size: 1.2rem; }

.arriba {
  position: absolute;
  bottom: 1rem;
  right: 1rem; }
